/Ejercicio2/nbproject/private/
/Ejercicio2/build/
/ciruguia/nbproject/private/
/ciruguia/build/
/RectanguloPoo/nbproject/private/
/RectanguloPoo/build/
/00Banco/nbproject/private/
/00Banco/build/
/NexPresso/nbproject/private/
/NexPresso/build/